.page-container {
  width: 100%;
  flex-grow: 1;
}

.movie-list {
  width: 100%;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
